/* Base.scss */

body {
    background-color: $background-color;
    color: $background-color;
    @include body-font;
    font-size: $base-font-size;
    line-height: $line-height;
    margin: 0 auto;
    //margin: top/bottom left/right:
    max-width: 600px;
    width: 100%;
    
}

.boxed {
    background-color: #fff;
    opacity: 0.75;
}

svg {
    padding: 20px 15px 0 15px;
    align-content: center;
}

p {
    padding: 0px 15px 0px 15px;
    margin-top: 0;
}

header {
    margin: 0;
    width: 600px;
    padding-top: 0;
}

h2, h3 {
    @include headline-font;
    line-height: 1;
    color: $background-color;
    margin: 0;
}

h1 {
    @include headline-font;
    line-height: 1.2;
    color: $background-color;
    padding: 80px 15px 20px 15px;
    font-size: em(80px);
    text-align: center;
   }


h2 {
    font-size:em(38px);
    margin: em(0px) 0 em(4px) 0;
    padding: 0px 15px 0px 15px;
}

h3 {
    font-size:em(30px);
    margin: em(00px) 0 em(4px) 0;
    padding: 0px 15px 0px 15px;
}

i, em{
    @include body-font-italic;
}

b, strong {
    @include body-font-bold;
}

a {
    color: $background-color;
    @include body-font-bold;
    line-height: 0;
    padding: 0 4px 2px 4px;
    text-decoration: none;
    transition: color 300ms linear;
}

a:hover { 
    color: lighten(#6c6c6c,20%);
    transition: color 300ms linear;
}

img {
	height: auto;
	max-width: 100%;
    text-align: center;
}