/* Base.scss */

body {
    background-color: $background-color;
    color: $background-color;
    @include body-font;
    font-size: $base-font-size;
    line-height: $line-height;
    margin: 0 auto;
    //margin: top/bottom left/right:
    max-width: 1024px;
    width: 100%;
    
}

.boxed {
    background-color: #fff;
    opacity: 0.75;
}

svg {
    padding: 0 0px 15px 0 15px;
    align-content: center;
}

p {
    padding: 0px 15px 0px 15px;
    margin-top: 0;
}

header {
    margin: 0;
    width: 1024px;
    padding-top: 0;
}

h2, h3 {
    @include headline-font;
    line-height: 1;
    color: $background-color;
    margin-bottom: 20px;
}
    
h1 {
    @include headline-font;
    line-height: .25;
    color: $background-color;
    padding: 30px 15px 0px 15px;
    font-size: em(75px);
    text-align: center;
   }


h2 {
    font-size:em(38px);
    margin: 0 0 15px 0;
    padding: 0px 15px 15px 15px;
    box-sizing: border-box;
    float: left;
    width: 60%;
}

h3 {
    font-size:em(30px);
    margin: em(00px) 0 em(4px) 0;
    padding: 0px 15px 0px 15px;
}

i, em{
    @include body-font-italic;
}

b, strong {
    @include body-font-bold;
}

a {
    color: $background-color;
    @include body-font-bold;
    line-height: 0;
    padding: 0 4px 2px 4px;
    text-decoration: none;
    transition: color 300ms linear;
}

a:hover { 
    color: lighten(#6c6c6c,20%);
    transition: color 300ms linear;
}

img {
	max-height: 30%;
	max-width: 50%;
    margin: 0;
    padding-left: 30px;
    float: right;
}

.street-address:before {
    content: "a. ";
    @include headline-font;
    padding: 20px 15px 0px 15px;
}

.tel:before {
        content: "p.";
        @include headline-font;
        padding: 20px 15px 0px 15px;
        margin: 0 0 0 -60px;
}

abbr[title] {
    border-bottom: none;
}

svg {
    padding: 0 0 20px 20px;
}

