@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@mixin body-font {
    font-family: 'Open Sans Condensed', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 300;     
}

@mixin body-font-italic {
    font-family: 'Open Sans Condensed', helvetica, verdana, sans-serif;
    font-style: italic;
    font-weight: 300;     
}

@mixin body-font-bold {
    font-family: 'Open Sans Condensed', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 700;     
}

@mixin headline-font {
    font-family: 'Open Sans Condensed', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 700;     
}

$background-color: #262626;
$base-font-size: 26px;
$color: #fff;
$color2: #b1b1b1;
$line-height: 1.6;


@function em($px, $base: $base-font-size) { @return ($px / $base) * 1em;
}