nav[role="navigation"] {
    max-width: 1045px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

h2 {
        box-sizing: border-box;
        float: left;
        padding-right: 40px;
        margin-bottom: 40px;
        width: 60%;
}

.Lex Burger Fixed {
        box-sizing: border-box;
        float: left;
        padding-right: 40px;
        padding-left: 20px;
        width: 40%;
}

.Peabody book {
        box-sizing: border-box;
        float: left;
        padding-right: 40px;
        width: 40%;
}

.Francis Flag {
        box-sizing: border-box;
        float: left;
        padding-right: 40px;
        width: 40%;
}

italy boot {
        box-sizing: border-box;
        float: left;
        padding-right: 40px;
        width: 40%;
}


img {
    float: right;
    padding: 0 40px 0px 30px;
    height: 40%;
    width: 40%;
    text-align: center;
    margin: 0;
}